/* @media (width <= 320px){}  min-width */
/* @media (width >= 320px){}  max-width */
/* Web to app=max-width App to web=min-width * only if you’re not using a range */

/* Smart Phone 320px*/
@media (width <= 20em){
  h1 {
      font-size: 3em;
    }
  
    .pressToPlay h2 {
      font-size: 1.5em;
      margin-top: 30px;
    }
  
    .midSection {
      justify-content: center;
      height: auto;
    }
  
    .midSection .box {
      display: none;
    }
  
    .mainTask {
      height: 20.625em;
      width: 12.5em;
      padding: 0px;
    }
  
    .mainTask p {
      font-size: 0.9375em;
    }
  
    .mainTask .rules {
      font-size: 0.875em;
    }

    #logo {
      width: 100%;
      margin: 0px;
    }
}

@media(20em <= width <= 34em){
  h1 {
    font-size: 2em;
  }

  .pressToPlay h2 {
    font-size: 1.5em;
    margin: 0em;
  }

  .pressToPlay a {
    padding: 0.3125em;
  }

  .midSection {
    justify-content: center;
    height: 300px;
    align-items: flex-start;
  }

  .midSection .box {
    display: none;
  }

  .mainTask {
    height: 15.75em;
    width: 17.625em;
    padding: 12px;
  }

  .mainTask p {
    font-size: 1.125em;
    /* margin-top: 20px; */
  }

  .mainTask .rules {
    font-size: 1.125em;
  }

  #logo {
    width: 300px;
    margin: 0px;
  }
}

/* ipad portrait 1024px*/
@media (34em <= width <= 65em){
  h1 {
    font-size: 5em;
  }
  .pressToPlay h2 {
    font-size: 3em;
  }

  .midSection {
    justify-content: center;
  }

  .midSection .box {
    display: none;
  }

  .mainTask .rules {
    font-size: 1.8em;
  }
}

/* laptops 1124px*/
@media (65em <= width <= 76.5em) 
and (-webkit-min-device-pixel-ratio: 1){
    h1 {
    font-size: 4em;
  }
  #mainContainer {
    margin: 0px;
    padding: 0px;
  }

  .pressToPlay h2 {
    font-size: 3em;
    margin: 0px;
  }

  .box {
    height: 15.625em;
  }

  .box img {
    width: 10.625em;
  }

  .mainTask {
    height: 15.625em;
    width: 15.625em;
    margin: 0em;
  }

  .mainTask p {
    font-size: 0.8125em;
    /* margin-top: 20px; */
  }

  .mainTask .rules {
    font-size: 0.9375em;
  }

  #logo {
    width: 350px;
    margin: 0px;
  }
}
/* laptops retina - 1124px */
@media (65em <= width <= 76.5em) 
and (-webkit-min-device-pixel-ratio: 2) 
and (min-resolution: 192dpi){
  h1 {
    font-size: 4em;
  }
  
  #mainContainer {
    margin: 0px;
    padding: 0px;
  }

  .pressToPlay h2 {
    font-size: 3em;
    margin: 0px;
  }

  .box {
    height: 15.625em;
  }

  .box img {
    width: 10.625em;
  }

  .mainTask {
    height: 15.625em;
    width: 15.625em;
  }

  .mainTask p {
    font-size: 0.8125em;
    /* margin-top: 20px; */
  }

  .mainTask .rules {
    font-size: 0.9375em;
  }

  #logo {
    width: 350px;
    margin: 0px;
  }
}

@media (76.5em <= width <= 96.25em){
  h1 {
    font-size: 4em;
  }

  #mainContainer {
    margin: 0px;
    padding: 0px;
  }

  .pressToPlay h2 {
    font-size: 3em;
    margin: 0px;
  }

  .box {
    height: 18.75em;
  }

  .box img {
    width: 12.5em;
  }

  .mainTask {
    height: 15.625em;
    width: 18.75em;
  }
  .mainTask p {
    font-size: 0.9375em;
    /* margin-top: 20px; */
  }

  .mainTask .rules {
    font-size: 1.0625em;
  }
  #logo {
    width: 400px;
    margin: 0px;
  }
}

/* larger screens 1824px*/ 
@media (96.25em <= width <= 114em){
  h1 {
    font-size: 5em;
  }

  .pressToPlay h2 {
    font-size: 4em;
  }

  .box {
    height: 21.875em;
  }

  .box img {
    width: 15.625em;
  }

  .mainTask {
    height: 18.75em;
    width: 26.875em;
  }
  .mainTask p {
    font-size: 1.2625em;
  }
  #logo {
    width: 450px;
    margin: 0px;
  }
}

@media (114em <= width <= 130em) {
  .pressToPlay h2 {
    font-size: 4.5em;
  }

  .box {
    height: 28.125em;
  }

  .box img {
    width: 17.5em;
  }

  .mainTask {
    height: 21.875em;
    width: 28.75em;
  }
  .mainTask p {
    font-size: 1.375em;
  }
}
